.comments
  %textarea.form-control{ 'ng-model' => 'queryDetailsCtrl.query.item.version.comment',
                          'placeholder' => 'Add a comment',
                          'ng-blur' => 'queryDetailsCtrl.updateQuery()' }
  .btn-group
