result
  dt,dd
    display: inline

  .row-count, .too-many-rows
    padding: 10px
    display: inline-block

  .table
    background-color: white
    white-space: pre
    font-size: 12px

  .scrollable
    overflow: auto
    min-width: 100%
    border: 1px solid #E6E6E6

  .med-row-count
    min-height: 150px

  .high-row-count
    min-height: 300px
